@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Roboto Mono, monospace;
}

main {
  text-align: center;
  margin: 5%;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  box-shadow: 0 3px 3px #3d3d3d;
}

.color {
  margin: 5px;
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#color-palette {
  border: 1px solid black;
  height: 52px;
  width: auto;
  margin: 10px auto auto;
}

#pixel-board {
  margin: 10px auto auto;
  height: auto;
  width: auto;
  display: inline-block;
}

.pixel {
  float: left;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  background-color: white;
}

#clear-board {
  display: block;
  margin: auto;
  width: auto;
}
