@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Roboto Mono, monospace;
}

main {
  margin: 5%;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  box-shadow: 0 3px 3px #3d3d3d;
}

section {
  margin: 10px;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  box-shadow: 0 3px 3px #3d3d3d;
}

#sectionLetter {
  height: 60px;
}

.newspaper {
  background-color: antiquewhite;
  font-family: 'Times New Roman';
  font-weight: bold;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: 'Verdana';
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: 'Verdana';
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}

#carta-contador {
  display: inline;
}

#simpleText {
  display: inline;
}
